# Exclude from source control all files and
# directories starting with an underscore.

_*

# Exclude the following file types.

*.bak
*.log
*.swp

# Exclude files or directories
# with the following names.

.cvs
.DS_Store
.env
.grunt
.idea
.project
.settings
.svn
.tmp
.vagrant

Thumbs.db
nbproject
node_modules
